[submodule "limine"]
	path = limine
	url = https://codeberg.org/Limine/Limine.git
	branch = v10.x-binary
[submodule "external/flanterm"]
	path = external/flanterm
	url = https://codeberg.org/Mintsuki/Flanterm.git
