build/*
boron/build/*

drivers/*/build/*
drivers/*.sys

borondll/build/*

user/*/build/*
user/*.exe
user/*.dll

.keep/*
keep/*
limine/*

root/bin/*
root/lib/*
root/include/*
root/usr/*

vdiske2.img
vdiske2.vdi
vdiske2.vmdk
