[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v4.x-branch-binary
[submodule "source/ha/flanterm"]
	path = source/ha/flanterm
	url = https://github.com/mintsuki/flanterm.git
